.room-page {
    padding: 20px;
}

.video-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.container{
    width: 75%;
    height: 100vh;
}

.video-wrapper {
    text-align: center;
}

.video {
    width: 500px;
    height: 400px;
    background-color: white;
    box-shadow: rgb(161, 155, 155);
    border-radius: 10px;
}

.chat-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.messages {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    padding: 5px;
    margin: 5px 0;
}

.message.me {
    text-align: right;
    background-color: #d1ffd1;
}

.message.them {
    text-align: left;
    background-color: #ffd1d1;
}

.message-input {
    display: flex;
}

.message-input input {
    flex: 1;
    padding: 5px;
}

.message-input button {
    padding: 5px 10px;
}
